<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="mrdt" value="https://nuget.pkg.github.com/MissouriMRDT/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <mrdt>
      <add key="Username" value="%MRDT_GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%MRDT_GITHUB_TOKEN%" />
    </mrdt>
  </packageSourceCredentials>
</configuration>
